/* carousel */
.carousel-item {
    height: 300px;
    object-fit: cover;
}

.catIcon {
    width: 20px;
    height: 16px;
}

#trade, #surplus {
    /* width: 18px; */
    height: 18px;
}
#category-title{
    pointer-events: none;
}

.offcanvas.offcanvas-start {
    width: 280px !important;
}

.navCat {
    width: 200px;
    padding: 1px 0px 1px 0px;
    margin-bottom: 5px;
}

.navCat:hover{
    border-radius: 5px;
    background-color: rgba(92, 90, 90, 0.274);
}

.cards-wrapper{
    column-gap: 8px;
}




#switch {
    transition: transform 0.3s;
}

#forSwitch {
    position:relative;
    width: 120px;

}

.hiddenIcons {
    position: absolute;
    top: 16%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s, z-index 0.3s;
}

/* for cart blade */
.productName {
    transition: 0.3s;
    cursor: pointer;
}
.productName:hover {
    text-decoration: underline;
}
#checkOut{
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#bioEdit, #selectShopVoucher, #changePaymentMethod, #editAddress, #deleteAddress, #changeAddress, #selectVoucher {
    cursor: pointer;
    float: right;
    transform: color 0.3s;
}
#bioEdit:hover, #selectShopVoucher:hover, #changePaymentMethod:hover, #editAddress:hover, #deleteAddress:hover, #changeAddress:hover, #selectVoucher:hover {
    color: darkblue;
}

/*inside voucher Modal */
#voucherCard {
    border: none !important;
    background: #666362 !important;
    height: 120px !important;
}
#voucherCard::after {
    position: absolute;
    content: "";
    height: 40px;
    right: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 40px;
    background-color: white;
    width: 40px;
}
#voucherCard::before {
    position: absolute;
    content: "";
    height: 40px;
    left: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 40px;
    background-color: white;
    width: 40px;
}
.vertical {
    border-left: 5px dotted black;
    height: 90px;
    position: absolute;
    left: 30%;
}

/* for radio */
#flexRadioDefault1 {
    cursor: pointer;
}

/* profile */
#saveBio, #cancelBio {
    display:none;
    cursor: pointer;
}

/* DISCOVER */
.cards{
    display: grid;
    gap: 8px;
}
@media (max-width: 768px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 769px) and (max-width: 991px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 992px) {
    .cards { grid-template-columns: repeat(6, 1fr); }
}

@media (max-width: 992px) {
    .container .cards-wrapper{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .cards-wrapper .card{
        height: 286px;
    }
    .cards-wrapper img .card-img-top{
        height: 152px;
        width: 187px;
    }
    .cards-wrapper .card-body{
        height: 128px;
        width: 155px;
    }
}
.card-hover {
    transition: transform 0.3s;
}
.card-hover:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {   
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.137); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5a5a5a5d; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8887875b; 
  }