.carousel-item {
    height: 400px;
    object-fit: cover;
}

.catIcon {
    width: 20px;
    height: 16px;
}

#trade, #surplus {
    /* width: 18px; */
    height: 18px;
}

#category-title, .navCat {
    background: white;
}

#switch {
    transition: transform 0.3s;
}

#forSwitch {
    position:relative;
    width: 120px;

}

.hiddenIcons {
    position: absolute;
    top: 16%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s, z-index 0.3s;
}

/* for cart blade */
.productName {
    transition: 0.3s;
    cursor: pointer;
}
.productName:hover {
    text-decoration: underline;
}
#checkOut{
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#bioEdit, #selectShopVoucher, #changePaymentMethod, #editAddress, #deleteAddress, #changeAddress, #selectVoucher {
    cursor: pointer;
    float: right;
    transform: color 0.3s;
}
#bioEdit:hover, #selectShopVoucher:hover, #changePaymentMethod:hover, #editAddress:hover, #deleteAddress:hover, #changeAddress:hover, #selectVoucher:hover {
    color: darkblue;
}

/*inside voucher Modal */
#voucherCard {
    border: none !important;
    background: #666362 !important;
    height: 120px !important;
}
#voucherCard::after {
    position: absolute;
    content: "";
    height: 40px;
    right: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 40px;
    background-color: white;
    width: 40px;
}
#voucherCard::before {
    position: absolute;
    content: "";
    height: 40px;
    left: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 40px;
    background-color: white;
    width: 40px;
}
.vertical {
    border-left: 5px dotted black;
    height: 90px;
    position: absolute;
    left: 30%;
}

/* for radio */
#flexRadioDefault1 {
    cursor: pointer;
}

/* profile */
#saveBio, #cancelBio {
    display:none;
    cursor: pointer;
}


/* for product rating starss*/
div.stars {
width: 270px;
display: inline-block;
}

.mt-200{
    margin-top:200px;  
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 20px;
    color: #4A148C;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }
    
label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}


/* ipa off ang input shippingAddress */
.visually-hidden {
    position: absolute;
    left: -9999px;
}